<footer class="m-1 ring-1 ring-emerald-400 dark:ring-emerald-500 h-max rounded-lg">
    <div
        class="w-full h-full p-4 flex flex-col-reverse md:flex-row gap-4 md:gap-0 items-center justify-center md:justify-between">
        <div class="text-sm text-emerald-400 dark:text-emerald-500 sm:text-center flex flex-wrap gap-1 items-center">
            © 2023 by
            <a href="https://lucamacedone.com/"
                class="hover:underline hover:underline-offset-2 font-mono font-semibold">
                Luca Macedone
            </a>
            All Rights Reserved.
        </div>
        <ul
            class="flex flex-wrap items-center gap-3 text-sm font-regular text-emerald-400 dark:text-emerald-500 sm:mt-0">
            <!-- <li>
                <a href="https://lucamacedone.com" class="hover:underline hover:underline-offset-2">About Luca
                    Macedone</a>
            </li> -->
            <li>
                <button type="button"
                    class="text-emerald-400 dark:text-emerald-500 flex items-center justify-center ring-1 ring-transparent hover:ring-emerald-400 hover:dark:ring-emerald-500 rounded-lg p-2"
                    (click)="toggleDarkMode()">
                    <div class="font-light h-6 flex gap-2" *ngIf="darkTheme">
                        <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z" />
                        </svg>
                        Light
                    </div>
                    <div class="font-light h-6 flex gap-2" *ngIf="!darkTheme">
                        <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 18 20">
                            <path
                                d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z" />
                        </svg>
                        Dark
                    </div>
                </button>
            </li>
            <!--<li>
                <a href="#" class="hover:underline hover:underline-offset-2">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline hover:underline-offset-2">Contact</a>
            </li> -->
        </ul>
    </div>
</footer>