<form (ngSubmit)="submitForm()" class="w-full">
    <input type="search"
        class="p-5 text-lg text-gray-950 dark:text-emerald-50 placeholder:text-emerald-600 dark:placeholder:text-emerald-800 bg-gray-100 dark:bg-gray-950 ring-0 focus:drop-shadow-none focus:ring-0 focus:border-0 focus:border-b-2 focus:border-emerald-400 dark:focus:border-emerald-500 border-0 border-b-2 border-emerald-400 dark:border-emerald-500 w-full shadow-lg shadow-gray-200 dark:shadow-transparent focus:shadow-lg dark:hover:shadow-emerald-900 dark:focus:shadow-emerald-900 hover:shadow-emerald-500 focus:shadow-emerald-500"
        [(ngModel)]="searchInput" placeholder="Cerca.." name="searchInput" autofocus />
    <!-- <button type="submit">Cerca</button> -->
</form>