<form (ngSubmit)="submitForm()" class="w-full">
    <input type="search"
        class="px-5 py-3 text-lg text-dark-light dark:text-light-dark placeholder:text-primary-dark dark:placeholder:text-primary-light bg-light-light dark:bg-dark-light ring-0 focus:drop-shadow-none focus:ring-0 focus:border-0 focus:border-b-2 focus:border-primary-dark dark:focus:border-primary-light border-0 border-b-2 border-primary-dark dark:border-primary-light w-full shadow-lg shadow-light-dark dark:shadow-transparent focus:shadow-lg dark:hover:shadow-primary-light dark:focus:shadow-primary-light hover:shadow-primary-dark focus:shadow-primary-dark transition-all ease-in-out duration-200"
        [(ngModel)]="searchInput" placeholder="Cerca.." name="searchInput" autofocus />
    <!-- <button type="submit">Cerca</button> -->
</form>