<section class="bg-light-light dark:bg-dark-light px-5 py-2.5 rounded-xl"
    [class]="quizStarted ? 'h-full overflow-y-scroll':'h-max overflow-y-auto'">
    <div class="flex items-center justify-between">
        <h1 class="text-primary-dark dark:text-primary-light font-mono font-semibold">Dev Quiz
            <span class="text-dark-light dark:text-light-light" *ngIf="quizStarted">
                [{{quizList[lastQuestionIndex].difficulty}}]
            </span>
        </h1>

        <button
            class="rounded-full text-primary-dark dark:text-primary-light px-5 py-2 w-max flex items-center justify-center gap-2 hover:scale-105 hover:bg-light-dark dark:hover:bg-dark-dark transition-all ease-in-out duration-200"
            (click)="startGame()" *ngIf="!quizStarted">
            <span *ngIf="!loading">Play</span>
            <span class="text-primary-dark dark:text-primary-light" *ngIf="loading">
                <svg class="w-6 h-6 animate-spin" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97" />
                </svg>
            </span>
        </button>
        <button
            class="rounded-full text-primary-dark dark:text-primary-light px-5 py-2 w-max flex items-center justify-center gap-2 hover:scale-105 hover:bg-light-dark dark:hover:bg-dark-dark transition-all ease-in-out duration-200"
            (click)="endGame()" *ngIf="quizStarted">Exit</button>
    </div>
    <div id="game-board" class="pt-2" *ngIf="quizStarted">
        <div class="dark:text-light-light text-dark-light font-mono my-2 italic" id="question">
            {{quizList[lastQuestionIndex].question}}</div>
        <div class="flex flex-col items-start justify-start gap-3 h-full w-full">
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_a">
                <button type="button" (click)="checkAnswer('a')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-a">
                    <div class="font-mono text-left w-full">
                        a) {{quizList[lastQuestionIndex].answers.answer_a}}
                    </div>
                </button>
            </div>
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_b">
                <button type="button" (click)="checkAnswer('b')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-b">
                    <div class="font-mono text-left w-full">
                        b) {{quizList[lastQuestionIndex].answers.answer_b}}
                    </div>
                </button>
            </div>
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_c">
                <button type="button" (click)="checkAnswer('c')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-c">
                    <div class="font-mono text-left w-full">
                        c) {{quizList[lastQuestionIndex].answers.answer_c}}
                    </div>
                </button>
            </div>
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_d">
                <button type="button" (click)="checkAnswer('d')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-d">
                    <div class="font-mono text-left w-full">
                        d) {{quizList[lastQuestionIndex].answers.answer_d}}
                    </div>
                </button>
            </div>
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_e">
                <button type="button" (click)="checkAnswer('e')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-e">
                    <div class="font-mono text-left w-full">
                        e) {{quizList[lastQuestionIndex].answers.answer_e}}
                    </div>
                </button>
            </div>
            <div class="w-full" *ngIf="quizList[lastQuestionIndex].answers.answer_f">
                <button type="button" (click)="checkAnswer('f')"
                    class="border border-transparent p-2 rounded-lg text-dark-light hover:text-primary-dark dark:text-light-dark w-full dark:hover:text-emerald-50 dark:hover:border-emerald-500 hover:border-primary-dark"
                    id="answer-f">
                    <div class="font-mono text-left w-full">
                        f) {{quizList[lastQuestionIndex].answers.answer_f}}
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="text-dark-light dark:text-light-dark font-mono text-center py-5" id="end-game-output" *ngIf="endgame">
        Your final score: {{score}}
    </div>

</section>
<!-- <p class="text-light-dark dark:text-dark-light font-mono text-sm py-2 hidden md:block" *ngIf="!quizStarted && !endgame">
    This mini-game is challenge based on computer science quizzes, designed to test players
    knowledge in the field of computer science. It is divided into three levels of difficulty.
</p> -->