<section id="tasks" class="overflow-hidden max-h-full flex flex-col items-center justify-start w-full py-1">
    <div class="flex items-center justify-between h-max w-full px-4">
        <h2 class="text-green-500 font-mono text-xl">Tasks</h2>
        <button
            class="rounded-lg text-green-500 px-4 py-2 w-max flex items-center justify-center gap-2 hover:ring-1 hover:ring-green-500"
            type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">
            <div class="text-green-500 h-8 aspect-square">
                <svg className="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 20 20">
                    <path
                        d="M9.546.5a9.5 9.5 0 1 0 9.5 9.5 9.51 9.51 0 0 0-9.5-9.5ZM13.788 11h-3.242v3.242a1 1 0 1 1-2 0V11H5.304a1 1 0 0 1 0-2h3.242V5.758a1 1 0 0 1 2 0V9h3.242a1 1 0 1 1 0 2Z" />
                </svg>
            </div>
            <div class="font-mono">
                New task
            </div>
        </button>
    </div>

    <!-- Main modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-xl shadow text-white">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-green-800">
                    <h3 class="text-xl font-semibold text-green-500 font-mono">
                        New Task
                    </h3>
                    <button type="button"
                        class="rounded-lg text-green-500 px-4 py-2 w-max flex items-center justify-center gap-2 hover:ring-1 hover:ring-green-500"
                        data-modal-hide="default-modal">
                        <div class="text-green-500 h-8 aspect-square">
                            <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
                            </svg>
                        </div>
                        <div class="font-mono">Close</div>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div>
                        <label for="task-name" class="block mb-2 text-sm font-medium text-green-500">
                            Task name
                        </label>
                        <input type="text" name="task-name" id="task-name"
                            class="text-green-500 placeholder:text-green-800 bg-black ring-0 focus:drop-shadow-none focus:ring-0 focus:border-0 focus:border-b-2 focus:border-green-500 border-0 border-b-2 border-green-500 w-full"
                            placeholder="Commit & Push" [(ngModel)]="taskModel.name">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-green-800">
                    <button data-modal-hide="default-modal" type="button"
                        class="rounded-lg text-green-500 px-4 py-2 w-max flex items-center justify-center gap-2 hover:ring-1 hover:ring-green-500"
                        (click)="newTask()">
                        <div class="text-green-500 h-8 aspect-square">
                            <svg className="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M9.546.5a9.5 9.5 0 1 0 9.5 9.5 9.51 9.51 0 0 0-9.5-9.5ZM13.788 11h-3.242v3.242a1 1 0 1 1-2 0V11H5.304a1 1 0 0 1 0-2h3.242V5.758a1 1 0 0 1 2 0V9h3.242a1 1 0 1 1 0 2Z" />
                            </svg>
                        </div>
                        <div class="font-mono">
                            Add task
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-start gap-4 pt-4 task_list overflow-y-auto" *ngIf="tasks" cdkDropList
        [cdkDropListConnectedTo]="['tasks']" [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)" id="tasks">
        <div class="border border-transparent hover:border-green-500 rounded-lg py-2 px-4 w-full flex justify-between items-center task_item gap-2"
            *ngFor="let task of tasks; index as i" cdkDrag>
            <div class="text-white">
                {{ task.name }}
            </div>
            <div class="flex items-center transition-all ease-in-out">
                <button data-modal-hide="default-modal" type="button"
                    class="rounded-lg text-green-500 p-2 w-max flex items-center justify-center gap-2 hover:ring-1 hover:ring-green-500"
                    (click)="removeTask(i)">
                    <div class="text-green-500 fill-green-500 h-8 aspect-square flex items-center">
                        <svg class="" [class]="task.isDone?'hidden':''" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <svg [class]="task.isDone?'':'hidden'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                    </div>
                    <div class="font-mono" [class]="task.isDone?'hidden':''">
                        Done?
                    </div>
                </button>

                <!-- <input [id]="'checkbox-'+i" type="checkbox" value=""
                    class="w-4 h-4 text-green-500 bg-slate-800 border-slate-900 rounded focus:ring-green-900 focus:ring-2"
                    (click)="removeTask(i)">
                <label [for]="'checkbox-'+i" class="ms-2 text-sm font-medium text-green-500"
                    (click)="removeTask(i)">Done</label> -->
            </div>
        </div>
    </div>

</section>