<section id="tasks" class="overflow-hidden max-h-full flex flex-col items-center justify-start w-full py-1">
    <div class="flex items-center justify-between h-max w-full px-4 border-b-2 border-emerald-400 py-2">
        <h2 class="text-emerald-400 dark:text-emerald-500 font-mono text-xl">Tasks</h2>
        <button
            class="rounded-full text-emerald-400 dark:text-emerald-500 p-2 w-max flex items-center justify-center gap-2 hover:scale-105 hover:bg-slate-200 dark:hover:bg-gray-900 transition-all ease-in-out duration-200"
            type="button" data-modal-target="default-modal" data-modal-toggle="default-modal">
            <ng-icon name="faSolidCirclePlus" class="text-emerald-400 dark:text-emerald-500 text-3xl" />
            <div class="font-mono">
                New task
            </div>
        </button>
    </div>

    <!-- Main modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-gray-100 dark:bg-gray-950 rounded-2xl shadow text-emerald-50 flex flex-col gap-4">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 pb-0">
                    <h3 class="text-xl font-semibold text-emerald-400 dark:text-emerald-500 font-mono">
                        New Task
                    </h3>
                    <button type="button"
                        class="text-emerald-400 dark:text-emerald-500 p-2 w-max flex items-center justify-center gap-2 hover:scale-105 hover:bg-slate-200 dark:hover:bg-gray-900 transition-all ease-in-out duration-200 rounded-full"
                        data-modal-hide="default-modal" title="Close">
                        <ng-icon name="faSolidCircleXmark" class="text-emerald-400 dark:text-emerald-500 text-3xl" />
                        <!-- <div class="font-mono">Close</div> -->
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 pt-0 space-y-4">
                    <div>
                        <label for="task-name"
                            class="block mb-2 text-sm font-medium text-emerald-400 dark:text-emerald-500">
                            Task name
                        </label>
                        <div class="flex items-center w-full">
                            <input type="text" name="task-name" id="task-name"
                                class="text-gray-950 dark:text-emerald-50 placeholder:text-emerald-600 dark:placeholder:text-emerald-800 bg-slate-200 dark:bg-gray-900 ring-0 focus:drop-shadow-none focus:ring-0 border-[2px] border-slate-200 dark:border-gray-900 focus:border-emerald-400 dark:focus:border-emerald-500 w-full rounded-l-full"
                                placeholder="Commit & Push code changes" [(ngModel)]="taskModel.name"
                                (keyup.enter)="newTask()" [autofocus]="true" />
                            <button data-modal-hide="default-modal" type="button"
                                class="text-emerald-400 dark:text-emerald-500 hover:text-gray-950 dark:hover:text-gray-950 p-2.5 min-w-max flex items-center flex-nowrap gap-2 bg-slate-200 dark:bg-gray-900 hover:bg-emerald-400 dark:hover:bg-emerald-500 transition-all ease-in-out duration-200 rounded-r-full"
                                (click)="newTask()">
                                <ng-icon name="faSolidCirclePlus" class="text-2xl" />
                                <span class="font-mono text-nowrap">
                                    Add task
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-start gap-1 pt-4 task_list overflow-y-auto w-full"
        *ngIf="tasks.length > 0" cdkDropList [cdkDropListConnectedTo]="['tasks']" [cdkDropListData]="tasks"
        (cdkDropListDropped)="drop($event)" id="tasks">
        <div class="border border-transparent hover:border-emerald-400 dark:hover:border-emerald-500 py-2 px-4 flex justify-between items-start task_item gap-2 w-full rounded-xl odd:bg-slate-200 odd:dark:bg-gray-900 transition-all ease-in-out duration-200"
            *ngFor="let task of tasks; index as i" cdkDrag>
            <div class="text-gray-950 dark:text-emerald-50">
                {{ task.name }}
            </div>
            <div class="flex items-center transition-all ease-in-out">
                <button data-modal-hide="default-modal" type="button"
                    class="rounded-full text-emerald-400 dark:text-emerald-500 border-[1px] border-transparent hover:border-emerald-400 hover:dark:border-emerald-500 hover:scale-105 p-2 w-max flex items-center justify-center gap-2 transition-all ease-in-out duration-200"
                    (click)="removeTask(i)">
                    <span *ngIf="!task.isDone; else taskDone" class="font-mono flex items-center gap-2">
                        <ng-icon name="faCircleCheck" class="text-emerald-400 dark:text-emerald-500 text-2xl" />
                        <span>
                            Done?
                        </span>
                    </span>
                    <ng-template #taskDone>
                        <span class="font-mono flex items-center gap-2">
                            <ng-icon name="faSolidCircleCheck"
                                class="text-emerald-400 dark:text-emerald-500 text-2xl" />
                            <span>
                                Nice!
                            </span>
                        </span>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>

    <div class="border border-transparent my-4 py-4 px-4 flex justify-center items-center task_item gap-2 w-full rounded-xl bg-slate-200 dark:bg-gray-900 text-slate-600 dark:text-emerald-500"
        *ngIf="tasks.length == 0">
        <span class="">
            No tasks yet.. Add some task here
        </span>
        <ng-icon name="faSolidArrowUp" class="text-2xl" />
    </div>

</section>